@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{      font-family: "Quicksand", serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
/* shere css */
.display-flex{
        display: flex;
}
.btn-primary{
        padding: 0 60px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 12px;
        border: none;
        color: white;
        
}
.hero{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-around;

}
.logo{
        gap: 10px;
}
.logo-name{
        font-size: 32px;
        font-weight: bold;
        margin-top: 17px;
        margin-bottom: 15px;
}
.hero-navbar{
        margin: 24px 186px;
}
.navbar{
        list-style: none;
        gap: 32px;
        
}
.navbar > a{
        text-decoration: none;
}
.nav-btn{
        background: rgb(254, 163, 1);
}
.navbar-txt{
        color: rgb(93, 88, 239);
        font-size: 20px;
        font-weight: 500;
}
.nav-color{
        width: 100%;
        border: 0.5px solid rgb(254, 163, 1);
        
}


.nav-phone{
        display: flex;
        justify-content: space-between;
        margin: 20px 16px;
        
}
#home{
        font-weight: bold;
        color: #FEA301;
}
#about{
        color: #01ACFD;
}
#facilities{
        color: #05D4DF;
}
#admission{
        color: #5D58EF;
        
}
.banner{
        max-width:100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
}
.banner-box{
        width: 640px;
        height: auto;
}

.container-banner-img{
        width: 100%;
}
.banner-title{
        font-weight: bold;
        font-size: 56px;
        margin-bottom: 24px;
        
}
.banner-description{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 24px;
}
.hero-brn{
        padding: 10px 47px;
        background: rgb(17, 17, 17);
}
.empowering{
        color: #FEA301;
}
.vision{
        color: #01ACFD;
}
.hide-p {
        display: none;
}
.main-bg{
        background-image: url("../assets/bg.png");
        width: 100%;
        height: auto;
}
.section-title{
        text-align: center;
        margin-top: 60px;
        font-weight: bold;
        font-size: 48px;
        color: #000000;
        margin-bottom: 80px;
}
.curriculuam-container{
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 80px;
        gap: 28px;
 
}
.curriculuam-item-box{
        padding: 60px 40px;
        box-sizing: border-box;
        border: 1px solid rgb(242, 232, 255);
        border-radius: 19px;
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        
}
.curriculuam-title{
        color: rgb(32, 32, 32);
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 33px;
        margin-top: 32px;
              
}
.curriculuam-description{
        color: rgb(128, 128, 128);
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 33px;
        
}
.read-more{
        font-size: 15px;
        font-weight: 700;
}
.curriculuam-box-1{
        background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.curriculuam-box-2{
        background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.curriculuam-box-3{
        background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.color-blue{
        color: rgb(100, 200, 255);
}
.color-yeallow{
        color: rgb(240, 170, 0);
}
.color-violet{
        color: rgb(135, 0, 255);
}
@media screen and (max-width:576px) {
        .hide-mobile{
                display: none;
        }
        .hide-p{
                display: block;
        }
        .banner {
                max-width: 576px;
                height: auto;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                }
        .banner-container-img{
                order: 1;
                
        }
        .container-banner-img{
                margin: 20px 10px;
                width: 360px;
        }
        .banner-box{
                max-width: 380px;
                order: 2;
                margin: 0 auto;
                text-align: center;
                
        }
        
        .banner-title{
                font-size: 32px;
        }
        .banner-description{
                font-weight: 500;
                font-size: 14px;
        }
        .btn-primary{
                font-size: 16px;
        }
        .section-title{
                font-size: 26px;
                margin-bottom: 20px;
        }
        .curriculuam-container{
                margin: 20px 17px;
                gap: 13px;
        }
        .curriculuam-item-box{
                width: 350px;
                height: auto;
                padding: 36px 28px 36px 28px;
                gap: 22px;
        }
        .curriculuam-title{
                font-size: 16.6px;

        }
        .curriculuam-description, .read-more{
                font-size: 10.5px;
        }
        
}
