@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{      font-family: "Quicksand", serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
/* shere css */
.display-flex{
        display: flex;
}
.btn-primary{
        padding: 0 60px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 12px;
        border: none;
        color: white;
        
}
.hero{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-around;

}
.logo{
        gap: 10px;
}
.logo-name{
        font-size: 32px;
        font-weight: bold;
        margin-top: 17px;
        margin-bottom: 15px;
}
.hero-navbar{
        margin: 24px 186px;
}
.navbar{
        list-style: none;
        gap: 32px;
        
}
.navbar > a{
        text-decoration: none;
}
.nav-btn{
        background: rgb(254, 163, 1);
}
.navbar-txt{
        color: rgb(93, 88, 239);
        font-size: 20px;
        font-weight: 500;
}
.nav-color{
        width: 100%;
        border: 0.5px solid rgb(254, 163, 1);
        
}


.nav-phone{
        display: flex;
        justify-content: space-between;
        margin: 20px 16px;
        
}
#home{
        font-weight: bold;
        color: #FEA301;
}
#about{
        color: #01ACFD;
}
#facilities{
        color: #05D4DF;
}
#admission{
        color: #5D58EF;
        
}
.banner{
        max-width:100%;
        height: 550px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 150px;
}
.banner-container{
        width: 650px;
        gap: 24px;
}
.banner-container-img{
        width: 480px;
}
.banner-title{
        font-weight: bold;
        font-size: 56px;
        margin-bottom: 24px;
        
}
.banner-description{
        font-size: 20px;
        margin-bottom: 24px;
}
.hero-brn{
        padding: 10px 47px;
        background: rgb(17, 17, 17);
}
.empowering{
        color: #FEA301;
}
.vision{
        color: #01ACFD;
}
@media screen and (max-width:576px) {
        .hide-mobile{
                display: none;
        }
        
        .banner-container-img{
                order: 1;
                width: 335px;
                height: 410px;
                margin-bottom: 20px;
        }
        .banner-box{
                max-width: 576px;
                order: 2;
                margin: 0 auto;
                text-align: center;
                
        }
        .banner{
                max-width: 370px;
                height: 800px;
                flex-direction: column;
                align-items: center;
                margin: 30px 10px;
        }
        .banner-title{
                font-size: 32px;
        }
        
}
@media screen and (min-width:576px) and (max-width:2000px) {
        .hide-p{
                display: none;
        }
}