@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{      font-family: "Quicksand", serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
/* shere css */
.display-flex{
        display: flex;
}
.btn-primary{
        padding: 0 60px;
        font-size: 20px;
        font-weight: 600;
        border-radius: 12px;
        border: none;
        color: white;
        
}
.hero{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-around;

}
.logo{
        gap: 10px;
}
.logo-name{
        font-size: 32px;
        font-weight: bold;
        margin-top: 17px;
        margin-bottom: 15px;
}
.hero-navbar{
        margin: 24px 186px;
}
.navbar{
        list-style: none;
        gap: 32px;
        
}
.navbar > a{
        text-decoration: none;
}
.nav-btn{
        background: rgb(254, 163, 1);
}
.navbar-txt{
        color: rgb(93, 88, 239);
        font-size: 20px;
        font-weight: 500;
}
.nav-color{
        border: 0.5px solid rgb(254, 163, 1);
}
.nav-phone{
        display: flex;
        justify-content: space-between;
        margin: 20px 16px;
        
}
#home{
        font-weight: bold;
        color: #FEA301;
}
#about{
        color: #01ACFD;
}
#facilities{
        color: #05D4DF;
}
#admission{
        color: #5D58EF;
        
}
@media screen and (max-width:576px) {
        .hide-mobile{
                display: none;
        }
        
}
@media screen and (min-width:576px) and (max-width:2000px) {
        .hide-p{
                display: none;
        }
}